@charset "utf-8";




@media screen and (max-width: 1450px) {

    .sc3 {
        display: none;
    }

    .sc3_sub {
        display: block;
    }


}

@media screen and (max-width: 768px) {
    /* ==================================================
       SC1
    ================================================== */

    .sc1 {
        width: 100%;
        height: 500px;

        /* max-height: 100vh; */
        min-height: 0;

        background-position: center center;
        background-size: cover;
    }


    .sc1 .inner {
        width: 100%;
        max-width: none;
        height: 100%;

        padding: 0 20px;

        box-sizing: border-box;
    }

    .sc1 .title_wrap {
        width: 100%;
    }

    .sc1 .title {
        font-size: var(--section_Mtitle);
        line-height: 1.3;
    }

    .sc1 .title .t_txt {
        font-size: var(--section_Ttitle);
        margin-bottom: 3px;
    }


    .sc1 .title .t1 {
        font-size: var(--section_Ttitle);
        white-space: nowrap;
    }

    .sc1 .sub_t {
        /* margin-top: 10px; */
        display: none;
    }

    .sc1 .sub_t p {
        /* font-size: var(--foot_stxt); */
        line-height: 1.5;
    }



    /*SC2*/

    .sc2 {
        width: 100%;
        height: auto;

        background-position: center center;
        background-size: cover;
    }

    .sc2 .inner {
        width: 100%;
        max-width: none;
        height: auto;

        padding: 55px 20px 50px;

        box-sizing: border-box;

        transform: none;
    }


    /* SC2 제목 */

    .sc2>.inner>.title_wrap {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 8px;

        text-align: center;
    }

    .sc2>.inner>.title_wrap .water img {
        width: 16px;
        margin-bottom: 0;
    }

    .sc2>.inner>.title_wrap .title h2 {
        font-size: var(--section_Mtitle);
        line-height: 1.25;
        white-space: nowrap;
    }


    /* SC2 스와이퍼 */

    .sc2 .swiper_wrap {
        width: 100% !important;
        max-width: none;

        height: auto;

        margin: 30px auto 0;

        transform: none;

        flex-shrink: 1;
    }

    .sc2 .swiper {
        width: 100%;
        height: auto;
    }

    .sc2 .swiper-slide {
        width: 100%;
        height: auto;

        border-radius: 15px;

        overflow: hidden;
    }

    .sc2 .swiper-slide img {
        width: 100%;
        height: auto;

        display: block;

        object-fit: contain;
    }

    .sc2 .swiper-pagination {
        display: none;
    }

    .sc3_sub>.inner>.title_wrap .nhard {
        font-size: var(--section_Mtitle);
    }

    .sc3_sub>.inner>.title_wrap .doit {
        font-size: var(--section_Mtitle);
    }

    .sc3_sub .container .title p {
        font-size: var(--section_Msub);
    }

    .sc3_sub .container .s_txt {
        display: none;
    }



    .sc4 {
        width: 100%;
        height: auto;
        min-height: 500px;

        background-position: center center;
        background-size: cover;

        overflow: hidden;
    }

    .sc4 .inner {
        width: 100%;
        max-width: none;
        height: auto;

        padding: 50px 40px;

        box-sizing: border-box;
        position: relative;
    }

    .sc4 .container {
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 20px;

        padding-top: 0;
    }


    /* SC4 제목 */

    .sc4>.inner>.container>.title_wrap {
        width: 100%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .sc4>.inner>.container>.title_wrap .title {
        width: 100%;

        margin-bottom: 25px;

        white-space: normal;

        letter-spacing: -5px;
    }

    .sc4 .black .t1:nth-child(4),
    .sc4 .blue .t1:nth-child(4) {
        padding-left: 2px;
    }


    .sc4>.inner>.container>.title_wrap .title .black {
        font-size: var(--section_Msub);
    }

    .sc4>.inner>.container>.title_wrap .title .blue {
        font-size: var(--section_Mtitle);
    }


    /* SC4 글자 */

    .sc4 .t1 {
        letter-spacing: -3px;
    }


    /* SC4 참여하기 버튼 */

    .sc4 .btn_wrap {
        display: none;
    }


    /* SC4 병 */

    .sc4 .bottle {
        width: 180px;

        position: relative;

        margin: 0 auto;
    }

    .sc4 .bimg {
        width: 100%;
    }

    .sc4 .bimg img {
        width: 100%;
        height: auto;
    }

    .sc4 .b0img {
        position: absolute;

        left: 0;
        right: auto;
        bottom: 0;

        width: 100%;
    }

    .sc4 .b0img img {
        width: 100%;
        height: auto;
    }


    .sc4>.inner>.container .b0img {
        bottom: -40px;
    }


    /* ==================================================
       SC5
    ================================================== */

    .sc5 {
        width: 100%;
        height: auto;

        min-height: auto;

        background-position: center center;
        background-size: cover;
    }

    .sc5 .inner {
        width: 100%;
        max-width: none;
        height: auto;

        padding: 50px 40px;

        box-sizing: border-box;
    }


    /* SC5 제목 */

    .sc5 .inner .container .title_wrap {
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;

        margin-bottom: 40px;

        text-align: center;
    }

    .sc5 .inner .container .title_wrap .title {
        font-size: var(--intro_sub_txt);
        line-height: 1.3;
    }

    .sc5 .inner .container .title_wrap .reap_img {
        max-width: 45px;
    }


    /* SC5 4개 카드 */

    .sc5 .inner .container .grid_box_wrap {
        width: 100%;

        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        gap: 35px;

        transform: none;
    }

    .sc5 .inner .container .grid_box_wrap .grid_box .tit_wrap .s_txt {
        display: none;
    }

    .sc5 .inner .container .grid_box_wrap .grid_box {

        text-align: center;
    }

    .sc5 .inner .container .grid_box_wrap .grid_box img {
        width: 100%;
        height: auto;
    }

    .sc5 .inner .container .grid_box_wrap .grid_box .tit_wrap {
        padding-top: 10px;
        padding-left: 0;
    }

    .sc5 .inner .container .title_wrap .title h1 {
        font-size: var(--section_Mtitle);
    }

    .sc5 .inner .container .grid_box_wrap .grid_box .tit_wrap .m_txt {
        font-size: var(--section_Msub);
        line-height: 1.3;
    }

    .sc5 .inner .container .grid_box_wrap .grid_box .tit_wrap .s_txt {
        padding-top: 5px;

        font-size: var(--section_sub);
        line-height: 1.4;
    }


    @media screen and (max-width: 520px) {

        .sc1 .title .t_txt {
            font-size: var(--section_Introtitle);
        }

        .sc1 .title .t1 {
            font-size: var(--section_Introtitle);
        }

        .sc5 .inner .container .grid_box_wrap {
            grid-template-columns: repeat(1, 1fr);
        }

        .sc3_sub>.inner>.container {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px 0;
        }



        .sc3_sub .tra_img,
        .sc3_sub .tcar_img,
        .sc3_sub .re_img,
        .sc3_sub .objc_img {
            max-width: 250px;
        }


    }
}